Reset

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* Utility Classes */




/* Banner */

h1, h2, h3 {
    padding-bottom: 20px;
}

#banner {
    background-color: rgb(235, 78, 78);
    overflow: hidden;
    height: 15vh;
}

#banner h1 {
    color: aliceblue;
    font-size: 72px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

#banner p {
    color: #333333;
    font-size: 22px;
    float: left;
    margin-top: -10px;
    padding-left: 130px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/* Flexbox Container */
#container {
    display: flex;
    flex-direction: row;
    height: 85vh;
}

/* Left Side */

#left-side {
    display: flex;
    flex-direction: column;
    background-color: #E9C46A;
    flex: 1;
    max-width: 15vw;
}

#left-side #recent {
    height: 42.5vh;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}

#left-side #popular {
    height: 42.5vh;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}

#left-side #recent p {
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Quicksand Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#left-side #popular p {
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Quicksand Bold', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#left-side #recent ul {
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
}

#left-side #popular ul {
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
}

#left-side #recent ul li {
    padding-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
}

#left-side #popular ul li {
    padding-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
}

#left-side #recent ul li a {
    padding-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

#left-side #popular ul li a {
    padding-bottom: 25px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}

#left-side #popular ul li a:hover {
    color: white;
}

#left-side #recent ul li a:hover {
    color: white;
}


/* Google Maps */

#map {
    display: flex;
    text-align: center;
    align-content: center;
    flex: 1;
    max-width: 35vw;
}

/* Main Content */

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeebe7;
    flex: 1;
    max-width: 50vw;
}

.search-box {
    width: 280px;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #302822;
}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
    color: rgba(111, 62, 47, 0.762);
}

.textbox input {
    border: none;
    outline: none;
    background: none;
    color: rgba(55, 43, 43, 0.927);
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.textbox input::placeholder {
    color: rgb(174, 164, 164);
}

#card {
    overflow: auto;
}

/* Price Drop Down */

#price {
    padding-top: 20px;
    text-align: center;
}

#price select {
    background-color: #b57f2fd5;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

/* Spin Wheel Button */

#wheel-submit {
    padding-top: 40px;
    text-align: center;
}

 .btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:#fff;
  color:#000;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform: translateY(-1px);
}

.btn-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
    background: #fff;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(40px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

/* Content Card */

#card {
    flex-direction: column;
}

#card-title {
    display: flex;
    height: 10vh;
    justify-content: center;
    padding-bottom: none;
}

#card-overall {
    display: flex;
    height: 75vh;
}

#card-images {
    flex-direction: column;
    height: 75vh;
    width: 20vw;
    padding-left: 20px;
    justify-content: center;
    align-items: flex-start;

}

#card-details {
    flex-direction: column;
    height: 75vh;
    width: 30vw;
    padding-right: 20px;
    justify-content: center;
    align-items: flex-start;
}

#card-details table{
    font-size: 20px;   
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}

#card-details table td {
    padding-left: 50px;
}

#card-details p {
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#card-details p span {
    font-family: 'Raleway Black', sans-serif;
    font-weight: bold;
}

#card-title h2 a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

#respin {
    color: rgb(235, 78, 78) !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid rgb(235, 78, 78) !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#re-search {
    color: rgb(235, 78, 78) !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid rgb(235, 78, 78) !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#respin:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}

#re-search:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
}