Reset

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* Utility Classes */




/* Banner */

h1, h2, h3 {
    padding-bottom: 20px;
}

#banner {
    background-color: #D62828;
    overflow: auto;
    height: 15vh;
}

#banner h1 {
    color: aliceblue;
    font-size: 72px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

#banner p {
    color: #333333;
    font-size: 22px;
    float: left;
    margin-top: -10px;
    padding-left: 130px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/* Flexbox Container */
#container {
    display: flex;
    flex-direction: row;
    height: 85vh;
}

/* Left Side */

#left-side {
    display: flex;
    flex-direction: column;
    background-color: #FCBF49;
    flex: 1;
    max-width: 15vw;
}

#left-side #recent {
    height: 42.5vh;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}

#left-side #popular {
    height: 42.5vh;
    padding: 20px;
    text-align: center;
    list-style-type: none;
}

#left-side #recent p {
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#left-side #popular p {
    padding-bottom: 20px;
    padding-top: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

#left-side #recent ul {
    list-style-type: none;
    text-align: left;
}

#left-side #popular ul {
    list-style-type: none;
    text-align: left;
}

#left-side #recent ul li {
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;

}

#left-side #popular ul li {
    padding-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

/* Google Maps */

#map {
    display: flex;
    text-align: center;
    align-content: center;
    flex: 1;
    max-width: 35vw;
}

/* Main Content */

#content {
    display: flex;
    background-color: rgb(240, 234, 208);
    flex: 1;
    max-width: 50vw;
}


