/* Reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Utility Classes */




/* Banner */

h1, h2, h3 {
    padding-bottom: 20px;
}

#banner {
    background-color: #D62828;
    overflow: auto;
}

#banner h1 {
    color: aliceblue;
    font-size: 72px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
}

#banner p {
    color: #333333;
    font-size: 22px;
    float: left;
    margin-top: -10px;
    padding-left: 130px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


/* Flexbox Container */
#container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}


.left-side {
    background-color: #FCBF49;
    flex: 1;
}

.map {
    text-align: center;
    align-content: center;
    flex: 1;
}

.content {
    background-color: #EAE2B7;
    flex: 1;
}